html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* bases */
/* fonts */
html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #FFF;

  line-height: 1.15em;
}

/* grid */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}

/* btn */
.btn {
  margin-top: 20px; 
  padding: 10px 0;

  display: inline-block;
  width: 100%; 

  font-weight: 900;
  font-size: 1.3em;
  font-style: italic;
  color: #FFF;
  text-align: center;

  border-radius: 18px;

  background: linear-gradient(0.25turn, #ffe600, #f69d3c);

  transition: .3s;
}

.btn:hover {
  background: linear-gradient(0.25turn, #f69d3c,  #ffe600);
}

/* navbar */
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  z-index: 200;
}

.navbar img {
  width: 100px;
  padding: 10px 0;
}

/* nav */
.nav {
  display: none; 
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;

  text-align: center;
}

.nav a {
  margin: 20px 0;

  text-transform: uppercase;

  display: inline-block;
  width: 100%;

  transition: .3s;
}

.nav a.active {
  font-weight: 900;
}

.nav a:hover {
  color:  #ffe600;
}

.nav a.mark {
  padding: 5px 10px;
  margin: 10px 0 50px 0;
  width: 80%;

  border: 1px solid #FFF;
  border-radius: 13px;

  transition: .3s;
}

.nav a.mark:hover {
  background-color: #FFF;
  color: rgb(20, 20, 20);
}

.searchbar {
  padding: 15px 70px;

  color: rgb(20, 20, 20);
  font-weight: 300;

  border-radius: 25px;
  background-color: #FFF;
}

/*  burger-nav */

.burger-nav {
  position: relative;

  cursor: pointer;

  color: rgb(20, 20, 20);
}

.burger-nav::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;
  position: absolute;
  top: -7px;
  left: 3px;

  background-color: rgb(20, 20, 20);
}

.burger-nav::after{
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;
  position: absolute;
  top: 25px;
  left: 3px;

  background-color: rgb(20, 20, 20);
}

.filter-nav {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgb(20, 20, 20);

  z-index: 100;
}

/* header */
.header {
  position: relative;
  min-height: 700px;

  background: left / cover no-repeat url(images/runner.jpg);
}

.presentation {
  position: relative;
  padding-top: 200px;
  float: right;

  max-width: 420px;

  color: #000;

  z-index: 100;
}

.presentation h1 {
  line-height: 1em;
  font-size: 5.5em;
  font-weight: 900;
  font-style: italic;
}

.presentation h2 {
  line-height: 1.2em;
  font-size: 2em;
  font-weight: 500;
  font-style: italic;

  margin-bottom: 10px;
}

.presentation h1,
.presentation h2 {
  text-align: right;
}

.presentation p {
  text-align: justify;

  font-size: .9em;
}

/* icons social networks */
.social-networks {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-networks span {
  margin: 10px;
}

.social-networks a {
  transition: .3s;
}

.social-networks a:hover {
  color:  #ffe600;
}

/* waves */
.vector {
  position: absolute;
  height: 700px;
}

.vector-1,
.vector-2 {
  position: absolute;
  left: 0;
  top: 0;
  height: 700px;

  z-index: 7;
}

.vector-3, 
.vector-4,
.vector-5,
.vector-6 { 
  display: none;
}

@media screen and (min-width: 950px) {
  .nav {
    display: block;
    position: relative;
    top: 0;
  
    text-align: right;
  }

  .burger-nav {
    display: none;
  }

  .nav a {
    margin: 0 40px 0 0;

    width: auto;
  }

  .nav a.mark {
    margin: 0 40px 0 0;
    width: auto;
  }

  /* presentation */
  .presentation {
    color: #fff;
  }

  /* btn */
  .btn { 
    width: auto;
    padding: 10px 40px;
    margin-top: 30px; 
    float: right;
  }

  /* social noteworks */
  .social-networks {
    clear: both;
    justify-content: flex-end;
    margin-top: 100px;
  }

  .header {
    background: left / cover no-repeat url(images/runner.jpg);
  }

  .vector {
    display: block;
    position: absolute;
    height: 700px;
  }
  
  .vector-1,
  .vector-2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 700px;
  
    z-index: 7;
  }
  
  .vector-3 {
    right: 0;
  }

  .vector-4 {
    right: 0;

    z-index: 1;
  }

  .vector-5 {
    top: 0;
    right: 0;

    z-index: 5;
    height: auto;
  }

  .vector-6 {
    top: 0;
    right: 0;
    z-index: 6;
    height: auto;
  }
}